
/* img {
    height: 450px;
    margin: 2rem;
    border-radius: 3rem;
}
.header1 {
    background: white;
    color: black;
    text-align: center;
}
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
.innerDiv {
    margin: 2rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    color: black;
}
.outer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
} */